.bucket {
  height: 80%;
  width: 100%;
  overflow:scroll;
}
.message {
  height: 20%;
  width: 80%;
  background-color: lightgrey;
}
.button {
  background-color: lightgreen;
}
.send {
  float: right;
  height: 20%;
  width: 20%;
}
.button.small {
  width: 130px;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
}
.username {
  width: 180px;
  background-color: lightgrey;
}
.display-none {
  display: none;
}
